/** fixed popover theme */
.vui-popover,
.vui-tooltip {
    color: var(--color-primary-fixed);
    background-color: var(--bg-primary-fixed);
}

.mcr-dark {
    --bg-primary: #1e1e1e;
    --bg-html-content: #2e2e2e;
    --color-primary: #fff;
    --color-secondary: #ccc;
    --bg-failed: #4d0f0f;
    --bg-flaky: #4d3b0f;
    --border-column-content: #555;

    .mcr-column-copy {
        background-color: rgb(0 0 0 / 60%);

        .mcr-icon-label {
            background-color: #1e1e1e;
        }
    }

    .mcr-header {
        .mcr-header-left {
            .mcr-icon-label {
                color: #ccc;
            }
        }
    }

    .mcr-flyover-header {
        background-color: #00467f;
    }

    .mcr-report-head {
        border-bottom: 1px solid #1e1e1e;
        background-color: #333;
    }

    .mcr-details-summary {
        summary:hover {
            background-color: #333;
        }
    }

    .mcr-search,
    .mcr-overview-search {
        .vui-input input {
            color: var(--color-primary);
            background-color: #333;
        }
    }
}

.tg-dark {
    background-color: var(--bg-primary);

    .tg-cell {
        color: var(--color-primary);
    }
}
